<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" >

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity android:name=".service.ServiceActivity"
            android:theme="@style/Theme.Transparent"
            android:exported="true"
            android:launchMode="singleTask"
            android:taskAffinity="com.black.app.service"
            android:excludeFromRecents="true"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>
    </application>
</manifest>