<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.black.code">

    <uses-permission android:name="android.permission.INTERNET" />

    <!--dumpysys alarm 쉘커맨드 동작용-->
    <permission android:name="android.permission.DUMP"
        android:protectionLevel="signature|privileged|development|appop" />
    <permission android:name="android.permission.PACKAGE_USAGE_STATS"
        android:protectionLevel="signature|privileged|development|appop" />

    <!--
    https://developer.android.com/guide/components/foreground-services#request-foreground-service-permissions
    Android 9(API 레벨 28) 이상에서 ForegroundService를 사용하기 위한 퍼미션 (퍼미션 허용은 따로 하지 않아도됨)
    -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <!-- Floating View -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- usesCleartextTraffic : https://mrgamza.tistory.com/639 -->
    <application
            android:allowBackup="true"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:usesCleartextTraffic="true"
            android:theme="@style/AppTheme">
        <!--
        [configChanges]
        https://developer.android.com/guide/topics/manifest/activity-element?hl=ko#config
        orientation|screenSize : 화면 회전
        keyboardHidden : 키보드 노출/숨김
        keyboard : 외부 키보드 연결

        [configChanges : Foldable]
        https://developer.samsung.com/sdp/blog/en-us/2019/01/31/how-to-update-your-apps-for-foldable-displays
        https://medium.com/@WeAreMobile1st/how-to-develop-android-apps-for-foldable-devices-950a3b26327f
        screenLayout|smallestScreenSize : 폴더블 접음/펼침 (with resizeableActivity = true)

        [LaunchMode]
        https://developer.android.com/guide/components/activities/tasks-and-back-stack?hl=ko
        https://aroundck.tistory.com/63
        -->
        <activity
                android:name="com.black.code.MainActivity"
                android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
                android:launchMode="singleTask"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.black.code.contents.launcher.internal.LauncherActivity"
            android:theme="@style/Launcher"
            android:exported="true">
            <intent-filter>
                <!-- 런처용 카테고리 -->
                <category android:name="android.intent.category.HOME"/>
            </intent-filter>
        </activity>

        <activity android:name=".contents.sample.ETCActivity"
            android:parentActivityName=".MainActivity"
            android:exported="false"/>

        <service android:name=".contents.service.ForegroundService"/>

        <receiver android:name=".broadcast.BootReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
