<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.black.code">

    <uses-permission android:name="android.permission.INTERNET" />
    <permission android:name="android.permission.DUMP"
        android:protectionLevel="signature|privileged|development|appop" />
    <permission android:name="android.permission.PACKAGE_USAGE_STATS"
        android:protectionLevel="signature|privileged|development|appop" />

    <!-- usesCleartextTraffic : https://mrgamza.tistory.com/639 -->
    <application
            android:allowBackup="true"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:usesCleartextTraffic="true"
            android:theme="@style/AppTheme">
        <!--
        https://developer.android.com/guide/topics/manifest/activity-element?hl=ko#config
        configChanges
        orientation|screenSize : 화면 회전
        keyboardHidden : 키보드 노출/숨김
        keyboard : 외부 키보드 연결
        screenLayout|smallestScreenSize : 폴더블 접음/펼침 (with resizeableActivity = true)
        https://developer.samsung.com/sdp/blog/en-us/2019/01/31/how-to-update-your-apps-for-foldable-displays
        https://medium.com/@WeAreMobile1st/how-to-develop-android-apps-for-foldable-devices-950a3b26327f
        -->
        <activity
                android:name="com.black.code.MainActivity"
                android:configChanges="orientation|screenSize|keyboardHidden|keyboard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.black.code.contents.launcher.internal.LauncherActivity"
            android:theme="@style/Launcher"
            android:exported="false">
            <intent-filter>
                <!-- 런처용 카테고리 -->
                <category android:name="android.intent.category.HOME"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
