<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.black.code">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- dumpysys alarm 쉘커맨드 동작용 -->
    <permission android:name="android.permission.DUMP"
        android:protectionLevel="signature|privileged|development|appop" />
    <permission android:name="android.permission.PACKAGE_USAGE_STATS"
        android:protectionLevel="signature|privileged|development|appop" />

    <!-- BOOT_COMPLETED Broadcast를 받기 위한 권한 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <!--
    https://developer.android.com/guide/components/foreground-services#request-foreground-service-permissions
    Android 9(API 레벨 28) 이상에서 ForegroundService를 사용하기 위한 퍼미션 (퍼미션 허용은 따로 하지 않아도됨)
    -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <!-- Floating View -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- usesCleartextTraffic : https://mrgamza.tistory.com/639 -->
    <application
            android:allowBackup="true"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:usesCleartextTraffic="true"
            android:theme="@style/AppTheme">

        <!--
        [configChanges]
        https://developer.android.com/guide/topics/manifest/activity-element?hl=ko#config
        orientation|screenSize : 화면 회전
        keyboardHidden : 키보드 노출/숨김
        keyboard : 외부 키보드 연결

        [configChanges : Foldable]
        https://developer.samsung.com/sdp/blog/en-us/2019/01/31/how-to-update-your-apps-for-foldable-displays
        https://medium.com/@WeAreMobile1st/how-to-develop-android-apps-for-foldable-devices-950a3b26327f
        screenLayout|smallestScreenSize : 폴더블 접음/펼침 (with resizeableActivity = true)

        [LaunchMode]
        https://developer.android.com/guide/components/activities/tasks-and-back-stack?hl=ko
        https://aroundck.tistory.com/63
        -->
        <activity
            android:name="com.black.code.ui.MainActivity"
            android:theme="@style/Theme.App.Starting"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:launchMode="singleTop"
            android:exported="true">
            <!-- #Android13에서는 #IntentFilter가 정확히 매칭되야지만 #startActivity가 동작-->
            <!-- https://codechacha.com/ko/android-13-intent-matching/ -->
            <!-- 앱 실행 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <!-- 바로가기 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <data android:scheme="black"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.example.launcher.internal.LauncherActivity"
            android:theme="@style/Launcher"
            android:exported="true">
            <intent-filter>
                <!-- 런처용 카테고리 -->
                <category android:name="android.intent.category.HOME"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.example.etc.ETCActivity"
            android:parentActivityName=".ui.MainActivity"/>

        <activity android:name=".ui.example.architecture.mvc.MVCActivity"
            android:parentActivityName=".ui.MainActivity"/>

        <activity android:name=".ui.example.architecture.mvvm.MVVMActivity"
            android:parentActivityName=".ui.MainActivity"/>

        <service android:name=".service.ForegroundService"/>

        <receiver android:name=".broadcast.BootReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <!-- 동작하지 않음 -->
        <!-- 스토어를 통해서 업데이트하면 동작하지 않을까 추측 -->
        <receiver android:name=".broadcast.AppUpdateReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>

        <!--*********************************************-->
        <!-- Shortcut -->
        <!--*********************************************-->
        <activity android:name=".shortcut.MemoShortcutActivity"
            android:label="@string/shortcut_memo_label"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <!--*********************************************-->
        <!-- Shortcut -->
        <!--*********************************************-->
    </application>
</manifest>
