<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />

    <application>
        <service android:name=".service.FloatingForegroundService"
            android:foregroundServiceType="specialUse"
            android:exported="false">
            <property android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="@string/special_use_description" />
        </service>

        <service
            android:name=".service.FloatingAccessibilityService"
            android:label="@string/accessibility_service_label_floating"
            android:exported="false"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

        <activity android:name=".shortcut.StartShortcutActivity"
            android:theme="@style/Theme.Transparent"
            android:label="@string/shortcut_floating_on_label"
            android:launchMode="singleTask"
            android:taskAffinity="com.black.app.shortcut"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".shortcut.StopShortcutActivity"
            android:theme="@style/Theme.Transparent"
            android:label="@string/shortcut_floating_off_label"
            android:launchMode="singleTask"
            android:taskAffinity="com.black.app.shortcut"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>
</manifest>